<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 使用构造器注入属性，依赖的是有参构造 -->
    <bean name="car1" class="cn.ade.bean.CarBean">
        <constructor-arg index="0" type="java.lang.String" value="红旗"/>
        <constructor-arg index="1" type="java.lang.Double" value="1000000"/>
    </bean>

    <!-- 使用c空间名称来简化构造器的属性注入 -->
    <bean name="car1" class="cn.ade.bean.CarBean" c:brand="红旗" c:price="1000000"/>

    <!-- 使用setter方法注入属性 -->
    <bean name="car2" class="cn.ade.bean.CarBean">
        <property name="brand" value="红旗"/>
        <property name="price" value="2000000"/>
    </bean>

    <!-- 使用p名称空间来简化setter注入 -->
    <bean name="car2" class="cn.ade.bean.CarBean" p:brand="红旗" p:price="2000000"/>

    <!-- 集合属性的注入 -->
    <bean name="collectionBean" class="cn.ade.bean.CollectionBean">
        <property name="list">
            <list>
                <value>张三</value>
                <value>100</value>
                <ref bean="car1"/>
            </list>
        </property>

        <property name="set">
            <set>
                <value>张三</value>
                <value>100</value>
                <ref bean="car1"/>
            </set>
        </property>

        <property name="map">
            <map>
                <entry key="name" value="张三"/>
                <entry key="price" value="10000"/>
                <entry key="car" value-ref="car1"/>
            </map>
        </property>

        <property name="properties">
            <props>
                <prop key="name">张三</prop>
                <prop key="price">10000</prop>
            </props>
        </property>
    </bean>
</beans>